<!-- Grey with black text -->
<nav class=" color_green navbar navbar-expand-sm bg-dark navbar-dark " style="width: 100%">
  <ul class="navbar-nav" style="width: 100%">
    <li class="nav-item">
      <div class="foo">
      <span class="letter" data-letter="Posts" style="width: 73px" onclick="location.href= '<%= root_path%>'">
      <%= link_to t('views.navbar._navbar.links.posts'), root_path, style: 'color: teal; text-decoration: none' %>
      </span>
      </div>
    </li>
    <li class="nav-item">
      <div class="foo">
      <span class="letter" data-letter="Users" style="width: 73px" onclick="location.href= '<%= users_path%>'">
      <%= link_to t('views.navbar._navbar.links.users'), users_path, style: 'color: teal; text-decoration: none' %>
      </span>
      </div>
    </li>
    <% if user_signed_in? %>
      <li class="nav-item">
        <div class="foo">
      <span class="letter" data-letter="New Posts" style="width: 126px" onclick="location.href= '<%= new_post_path%>'">
        <%= link_to t('views.navbar._navbar.links.new_post'), new_post_path, style: 'color: teal; text-decoration: none' %>
      </span>
        </div>
      </li>
    <% end %>
    <div id="user_nav " class=" wight_log_sign" >
      <div class="navbar-nav">
        <% if user_signed_in? %>
          <li class="logged" style="text-align: right">
            <%= link_to current_user.username , user_path(current_user), style: 'color: teal; text-decoration: none' %>
          </li>
          <div class="nav-item">
            <li>
              <div class="foo">
               <span class="letter" data-letter="Sign Out" style="width: 103px" onclick="location.href= '<%= log_out_path%>'">
                 <%= link_to t('views.navbar._navbar.links.sign_out'), log_out_path,
                   style: 'color: teal; text-align: right; text-decoration: none' %>
               </span>
              </div>
            </li>
        <% else %>
          <li class="nav-item">
            <div class="foo">
              <span class="letter" data-letter="Sign In" style="width: 83px" onclick="location.href= '<%= new_session_path%>'">
                <%= link_to t('views.navbar._navbar.links.sign_in'), new_session_path,
                  style: 'color: teal; text-align: right; text-decoration: none'  %>
              </span>
            </div>
          </li>
          <li class="nav-item">
            <div class="foo">
               <span class="letter" data-letter="Sign Up" style="width: 93px" onclick="location.href= '<%= new_user_path%>'">
                 <%= link_to t('views.navbar._navbar.links.sign_up'), new_user_path,
                   style: 'color: teal; text-align: right; text-decoration: none'  %>
               </span>
            </div>
          </li>
        <% end %>
        </div>
      </div>
    </div>
  </ul>
</nav>
