<div class="container " style=" margin-top: 10rem">
  <%= form_for Comment.new do |f| %>
    <div class="form-group">
      <%= f.text_area :body, size: '200x12', required: true, class: 'form-control raz',
        style: 'border-radius: 1rem; width: 100%; background-color: gray; text-align: left; color: black' %>
      <small id="bodyHelp" class="form-text text-danger">
        <%= Comment.new .errors[:body].join(', ') %>
      </small>
      <%= f.hidden_field :post_id, value: @post.id %>
      <%= f.submit t('views.post.show.links.add_comment'), class: 'btn btn-success', style: 'border-radius: 1rem'%>
  <%end %>
  </div>
</div>