<div class="card mb-4 shadow-sm raz dist_posts_show" style="border-radius: 1.5rem" >
  <% if @post.cover.present? %>
    <%= image_tag @post.cover.url.url, alt: 'Image', class: 'card-img-top', target: '_blank',
      style: ' padding-left: 5%; padding-right: 5%; height: 720px' %>
  <% end %>
  <div class="card-body">
    <h2 class="card-text" style="font-size: 1.25rem"><%= @post.title %></h2>
    <p class="card-text" style="font-size: 1rem; text-align: left"><%= @post.body %></p>
    <%= render 'comments/form'%>
    <%= render @post.comments%>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <% if user_signed_in? && @post.user == current_user%>
          <%= link_to t('views.post.show.links.destroy'), post_path(@post), method: :delete, confir: 'Are you sure?',
            class:"btn btn-sm btn-outline-secondary", style: 'color:black; border-radius: 1rem'%>
          <%= link_to t('views.post.show.links.edit'), edit_post_path(@post), class:"btn btn-sm btn-outline-secondary",
            style: 'color:black; border-radius: 1rem'%>
        <%end %>
      </div>
      <p class="card-text" style="font-size: 1.25rem; text-align: right; padding-right: 1.5rem">
        <%= @post.user.username %>
      </p>
    </div>
  </div>
</div>

